---
layout: page
title:  乐谱
permalink: /sheets/
---

<div class="archive">
    <div class="timeline" id="timeline">
        {% for tag in site.tags %}
        {% capture tag_name %}{{ tag | first }}{% endcapture %}
        
        {% for post in site.tags[tag_name] %}
        {% if tag_name == '乐谱集' %}
        
        {% capture year %}{{ post.date | date: '%Y年' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y年' }}{% endcapture %}
        {% if year != nyear %}
        <div class="archive-title">
            <h4 class="archive-year">{{ post.date | date: '%Y年' }}</h4>
        </div>
        {% endif %}
        
        <ul>
            <li>
                <div style="width:100px;float:left;">{{ post.date | date: "%m月%d日"}}</div> <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
        </ul>
        
        {% endif %}
        {% endfor %}
        
        {% endfor %}
        
    </div>
</div>
