---
layout: default
---
<!-- 判断是否插入首页图片 -->
{% if page.image.feature %}
<div class="post-image-feature">
    <img class="feature-image" src=
        {% if page.image.feature contains 'https' or page.image.feature contains 'http' %}
        "{{ page.image.feature }}"
        {% else %}
        "{{ site.url }}/img/{{ page.image.feature }}"
        {% endif %}
        alt="{{ page.title }} feature image">
        
        {% if page.image.credit %}
        <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
        {% endif %}
</div>
{% endif %}

<!-- 添加日期和阅读 -->
<div id="post">
    <header class="post-header">
        <span class="post-meta">
            <span class="post-date">
                {{ page.date | date: "%Y-%m-%d" | upcase }}
            </span> 
            •
            {% include read_time.html %}
            •
            阅读(<span data-hk-page="current"> - </span>次)<span class="pause"></span>
        </span>
        <h1 title="{{ page.title }}">{{ page.title }}</h1>
    </header>
    
    <!-- 引入google code pretiffy高亮样式 -->
    <link href="/js/google-code-prettify/themes/github-v2.css" rel="stylesheet" type="text/css" />
    
    <!-- 添加博文 -->
    <article class="post-content">
        {{ content }}
        <!--百度分享-->
     <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享到：</a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">新浪微博</a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友">QQ好友</a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间">QQ空间</a><a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧">百度贴吧</a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信">微信</a><a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网">豆瓣网</a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网">人人网</a></div>
     <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{"bdSize":16},"image":{"viewList":["tsina","sqq","qzone","tieba","weixin","douban","renren"],"viewText":"分享到：","viewSize":"24"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["tsina","sqq","qzone","tieba","weixin","douban","renren"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
        <!--网易云跟贴-->
        <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
    </article>
</div>

<!-- 引入google code pretiffy -->
<script src="/js/jquery.min.js"></script>
<script src="/js/google-code-prettify/prettify.js"></script>
<script type="text/javascript">
    $(function(){
      $("pre").addClass("prettyprint linenums");
      prettyPrint();
      });
    </script>

<!-- 添加博文分割线 -->
<hr class="post-list__divider" />
{% include new-old.html %}

<!-- 多说评论框 start -->
{% if page.comments == true %}
<div class="ds-thread" data-thread-key="{{ site.url }}" data-title="{{ page.title }}" data-url="{{ site.url }}"></div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    var duoshuoQuery = {short_name:"{{ site.owner.duoshuo }}"};
    (function() {
     var ds = document.createElement('script');
     ds.type = 'text/javascript';ds.async = true;
     ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
     ds.charset = 'UTF-8';
     (document.getElementsByTagName('head')[0]
      || document.getElementsByTagName('body')[0]).appendChild(ds);
     })();
    </script>
<!-- 多说公共JS代码 end -->
{% endif %}

