---
layout: default
---
<article class="post container">
    <div class="post-meta">
        <span class="post-meta-span date">{{ page.date | date:"%Y %B %d" }}</span>
        {% if page.tags.size > 0 %}
        <span class="post-meta-span tag">{{ page.tags | join: ', ' }}</span>
        {% endif %}
    </div>

    <h1 class="post-title">{{ page.title }}</h1>
    {{ content }}
</article>

<!--<div class="post-share">
    <div class="container">
        <a href="https://twitter.com/share?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&text={{ page.title }}" target="_blank" class="post-share-icon twitter"></a>
        <a href="https://www.evernote.com/clip.action?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&title={{ page.title }}" target="_blank" class="post-share-icon evernote"></a>
        <a href="http://service.weibo.com/share/share.php?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&title={{ page.title }}" target="_blank" class="post-share-icon weibo"></a>
    </div>
</div>-->
<!--网易云跟帖-->
<div id="cloud-tie-wrapper" class="cloud-tie-wrapper" style="width: 80%;margin: 0 auto;"></div>
<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
<script>
var cloudTieConfig = {
  url: document.location.href, 
  sourceId: "",
  productKey: "86a52c1e48c0450385a25e49e7c984cd",
  target: "cloud-tie-wrapper"
};
var yunManualLoad = true;
Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
</script>

<!-- 来必力City版安装代码 -->
<!--<div id="lv-container" data-id="city" data-uid="MTAyMC8yODc2OC81MzM5" style="width: 80%;margin: 0 auto;">
    <script type="text/javascript">
        (function(d, s) {
            var j, e = d.getElementsByTagName(s)[0];

            if (typeof LivereTower === 'function') {
                return;
            }

            j = d.createElement(s);
            j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
            j.async = true;

            e.parentNode.insertBefore(j, e);
        })(document, 'script');
    </script>
</div>-->
<!-- City版安装代码已完成 -->

{% if site.disqus.shortname %}
<div class="comment container">
    <div id="disqus_thread">
    </div>
</div>
{% endif %}
